<!doctype html>

<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        Login
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="https://myeducpro.com/assets/login_page/img/favicon.png">
    <link rel="stylesheet" href="https://myeducpro.com/assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://myeducpro.com/assets/login_page/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://myeducpro.com/assets/login_page/css/normalize.css">
    <link rel="stylesheet" href="https://myeducpro.com/assets/login_page/css/main.css">
    <link rel="stylesheet" href="https://myeducpro.com/assets/login_page/css/style.css">
    <script src="https://myeducpro.com/assets/login_page/js/vendor/modernizr-2.8.3.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

</head>
<body>
<div class="main-content-wrapper">
    <div class="login-area">
        <div class="login-header">
            <a  class="logo">
                <img src="https://myeducpro.com/assets/login_page/img/logo.png" height="60" alt="">
            </a>
            <h2 class="title">PascalSchool</h2>
            <!--	<h2 class="title">EducPro Solution</h2> -->
        </div>
        <div class="login-content">
            <form method="post" role="form" id="form_login"
                  action="{{ path('security_login') }}">
                <div class="form-group">
                    <!--value="{{ lastUsername }} -->
                    <input type="text" class="input-field" name="_username"  placeholder="Username..."
                           required autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="password" class="input-field" name="_password"  placeholder="Password..."
                           required>
                </div>
                <button type="submit" class="btn btn-primary">Connexion<i class="fa fa-lock"></i></button>
                {% if error %}
                    <span class="error">{{ error.messageKey }}</span>
                {% endif %}

            </form>

            <div class="login-bottom-links">
                <a href="https://myeducpro.com/index.php?login/forgot_password" class="link">
                    Mot De Pass Oublié ?
                </a>
            </div>

        </div>
    </div>
    <div class="image-area"></div>
</div>
<style>
    .error {color: #fc2626
    }
</style>

<script src="https://myeducpro.com/assets/login_page/js/vendor/jquery-1.12.0.min.js"></script>
<script src="https://myeducpro.com/assets/js/bootstrap-notify.js"></script>



</body>
</html>
