{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Welcome to AdminDashboard' %}

{% block page_content %}


    <pre>

    </pre>
{% endblock %}
