{% extends 'base.html.twig' %}
{% block title %}Professor | Dashboard{% endblock %}

    {% block main_sidebar_container %}
        <div class="login-header ">
            <a  class="logo">
                <img src="https://myeducpro.com/assets/login_page/img/logo.png" height="40" alt="School logo">
            </a>

            <h3 class="title" text-align="center">Pascal School</h3>

        </div>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->


            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Accueil
                                <!-- <i class="right fas fa-angle-left"></i> -->
                            </p>
                        </a>

                    </li>

                    <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <p>
                                    <i class="nav-icon fa fa-users"></i>
                                    Elèves
                                </p>
                            </a>
                    </li>
                    <li class="nav-item has treeview">
                            <a href="#" class="nav-link">
                                <p>
                                    <i class="nav-icon fa fa-user-friends"></i>
                                    Enseignants
                                </p>
                            </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-clipboard"></i>
                                <p>
                                    Matières
                                </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="#" class="nav-link">
                            <p>
                                <i class="nav-icon far fa-calendar-alt"></i>
                                Emploi du temps
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>
                                Devoirs de maison
                                <i class="fas fa-angle-right  right"></i>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-chart-bar"></i>
                            <p>
                                Absences
                                <i class="fas fa-angle-right  right"></i>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-chart-bar"></i>
                            <p>
                                Punitions
                                <i class="fas fa-angle-right  right"></i>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-chart-line"></i>
                            <p>
                                Appréciations
                                <i class="fas fa-angle-right  right"></i>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-file-alt"></i>
                            <p>
                                Examens
                                <i class="fas fa-angle-right  right"></i>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-book-reader"></i>
                            <p>
                                Bibliothèque
                                <i class="fas fa-angle-right  right"></i>
                            </p>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-baseball-ball"></i>
                            <p>
                                Actualités et évènements
                                <i class="fas fa-angle-right  right"></i>
                            </p>
                        </a>

                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon far fa-envelope"></i>
                            <p>
                                Messages
                                <i class="fas fa-angle-right  right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="pages/mailbox/mailbox.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Inbox</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-lock"></i>
                            <p>
                                Compte
                                <i class="fas fa-angle-right  right"></i>
                            </p>
                        </a>

                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
    <!-- /.sidebar -->
    {% endblock %}
